matplotlib==3.5.1
numpy==1.22.3
pyrddl==0.1.10
Sphinx==4.5.0
tensorboard==2.8.0
tensorflow==2.8.0
typing==3.7.4
# git+https://github.com/danielbdias/rddlgym.git@main#egg=rddlgym
# git+https://github.com/danielbdias/rddl2tf.git@main#egg=rddl2tf